@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7c957;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  font-size: 30px;
}
header input {
  padding: 8px 20px;
  border-radius: 10px;
}
header .buttons {
  display: flex;
  gap: 10px;
}

header .buttons button {
  padding: 5px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

header .buttons button:nth-child(1) {
  background-color: #5c677d;
}

header .buttons button:nth-child(2) {
  background-color: #ff6b35;
}

header .buttons button:nth-child(3) {
  background-color: #1a659e;
}

main {
  padding: 30px;
}

.category-wrapper h1 {
  font-size: 40px;
}
.category-list {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  gap: 40px;
}
.category {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.category img {
  width: 100%;
  border-radius: 10px;
}
.category p {
  position: absolute;
  bottom: 10px;
  background-color: rgb(226, 222, 223);
  width: 70%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.product-wrapper h1 {
  margin-top: 50px;
  margin-bottom: 25px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.card {
  max-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.04);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-footer {
  background-color: #eef1ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}

.card-footer span {
  padding: 10px;
}

.card-footer button {
  background-color: #205295;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

#modal-wrapper {
  background-color: rgba(180, 181, 183, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  display: none;
  place-items: center;
}
.active {
  display: grid !important;
}
.modal {
  background-color: white;
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 40px;
  position: relative;
}
.modal #close-btn {
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 12px;
  margin: 15px;
}

.modal-title {
  text-align: center;
}

.modal-list {
  margin-top: 60px;
}

.item {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  align-items: center;
}

.item .title {
  font-size: 14px;
}
.item .price {
  font-size: 15px;
  color: #9f0af0;
  padding: 10px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 5px;
}
